<div class="experience-container">

    <div class="experience-header">
        <h2>What can i do?</h2>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="card-img">
                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
                </svg>
            </div>
            <div class="card-text">
                <p>Lorem ipsum</p>
            </div>
        </div>
    
        <div class="card">
            <div class="card-img">
                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
                </svg>
            </div>
            <div class="card-text">
                <p>Lorem ipsum</p>
            </div>
        </div>
    
        <div class="card">
            <div class="card-img">
                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
                </svg>
            </div>
            <div class="card-text">
                <p>Lorem ipsum</p>
            </div>
        </div>
    
        <div class="card">
            <div class="card-img">
                <svg height="100" width="100">
                    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
                </svg>
            </div>
            <div class="card-text">
                <p>Lorem ipsum</p>
            </div>
        </div>
    </div>

</div>