<div class="about-container">
    <div class="about-img">
     
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
            </svg>
       
    </div>
    <div class="about-content">
        <p>I'm a <span class="underlined">systems engineer</span>, with 3 years of experience in web developing. Recent SAP ABAP Certified Development  
            Associate. To achieve the best results i follow quality guidelines 
            to evaluate software quality. Open for remote work but also available for relocation.</p>
    </div>
</div>